.card{
    /*== sizing ==*/
    height: 150px;
    width: 100%;

    /*== styling ==*/
    border-radius: 5px;
    border: 5px solid red;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);

    position: relative;
    transform-style: preserve-3d;
    /*transition: 750ms;*/

    user-select: none;
    cursor: pointer;


}

/* .card:hover{
    transform: rotateY(180deg);
}   */

.front,
.back {
    /*== sizing ==*/
    height: 100%;
    width: 100%;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    /*== card alignmnet ==*/
    position: absolute;


    /*== content aligning ==*/
    display: flex;
    justify-content: center;
    align-items: center;


    /*== content styling ==*/
    font-weight: 800;
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.9);
}

.front{
    width: 100%;
    background-color: #73d0ff;
    font-size: 1rem;

}

.back{
    background-color: #ffad66;
    transform: rotateY(180deg);
}

.left{
    width: 80%;
    display: flex;
    align-items: center;
}