@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
.sidebarcontainer {
    font-family: 'Nanum Pen Script', cursive;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: right;
}

