@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:&display=swap');

html,
body {
  color-scheme: dark;

  scroll-behavior: smooth;
  min-height: 100%;




  display: flex;
  align-items: center;
  justify-content: center;
}

body{
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Mono', monospace;  
  color:white;

  /*bg*/
  background-image: url(../public/images/background.png);
  background-repeat: no-repeat;
  background-size: cover
}

.right{
  padding-left: 2rem;
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}
