@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');

html,
body {
  width: 100vw;
  height: 100vh;
  color-scheme: dark;

  scroll-behavior: smooth;
  min-height: 100%;



  /*
  display: flex;
  align-items: center;
  justify-content: center;
  */
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  color: white;

  /*bg*/

  background: linear-gradient(#00232f, #000709);
  background-attachment: fixed;
  background-size: cover
}

.right {
  padding-left: 2rem;
  width: 100%;
}

a {
  color: #ff8272;
}

a:hover {
  color: gold;
}


* {
  box-sizing: border-box;
}



h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}


h1{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
}

hr {
  border: none;
  height: 2px;
  background-color: skyblue;
  margin-bottom: 2rem;
}