@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:&display=swap');

html,
body {
  width: 100vw;
  height: 100vh;
  color-scheme: dark;

  scroll-behavior: smooth;
  min-height: 100%;



  /*
  display: flex;
  align-items: center;
  justify-content: center;
  */
}

body{
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Mono', monospace;  
  color:black;

  background-color: aliceblue;
  /*bg*/
  /*background-image: url(../public/images/background.png);
  /*background-repeat: no-repeat;*/
  /*background: linear-gradient(163deg,#100a2d,#150739 12%,#191038 28%,#1c0a34 49%,#110a32 79%,#0e0728 90%,#0c0722);*/
  /*background-size: cover*/
}

.right{
  padding-left: 2rem;
  width: 100%;
}

a {
  color: black;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}
